html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #263238;
    font-family: 'Roboto', sans-serif;
}

#main {
    margin-top: 100px;
    text-align: left;
    /*padding: 50px 60px;*/
    padding-bottom: 50px;
    border-width: 0 1px 1px 1px;
    margin-left: 250px;
}

.navbar {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #20292e;
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0px;
  left: 0px;
}

.logo {
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 18px;
  font-weight: 800;
  margin-top: 32px;
  margin-left: 30px;
}

.addroom {
  float: right;
  background-color: #2196f3;
  border: none;
  height: 31px;
  width: 105px;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 20px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.usernameContainer {
  display: inline-flex;
  align-items: baseline;
}

.username {
  color: #2196f3;
  font-size: 18px;
}

.username:hover {
  cursor: pointer;
}

.contents {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
  font-size: 14px;
}

.friend {
    color: #4CAF50;
    /*background-color: #0090da;*/
}

.friendMessage {
    font-weight: 800;
}

.messageContainer {
  margin-top: 20px;
  padding: 10px;
}

.roomContainer {
  width: 200px;
  position: fixed;
  left: 0px;
  top:90px;
  height: 100%;
  border-right: 4px solid rgba(255, 255, 255, .12);
}

.inputContainer {
  background-color: #263238;
  padding: 10px 10px 30px;
  height: 35px;
  width: 100%;
  position: fixed;
  left: 245px;
  bottom: 0px;
}

#message {
  background-color: #263238;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  font-size: 16px;
  width: 80%;
}

#message:focus {
  outline: none;
}

.chatsContainer {
  
  
}

.time {
  margin-left: 30px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}



